<div class="d-flex pt-3" (keydown)="keydown($event.key)" (keyup)="keyup()">
  <div class="px-3">
    <mat-card>
      <div id="outsideWrapper" class="mat-elevation-z3" [style.width.px]="width" [style.height.px]="height">
        <div id="insideWrapper" [style.width.px]="width" [style.height.px]="height">
          <img src="{{assetsPath}}field.png" id="coveredImage" alt="" [style.width.px]="width" [style.height.px]="height">
          <canvas #coveringCanvas id="coveringCanvas" (mousemove)="mouseMove($event.offsetX, $event.offsetY)" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()" (mouseup)="mouseUp()" width={{width}} height={{height}}></canvas>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="d-flex flex-column">
    <mat-expansion-panel class="mb-2" expanded="true">
      <mat-expansion-panel-header>
        Starting Position
      </mat-expansion-panel-header>

      <mat-form-field class="txt-in">
        <input matInput #ox="ngModel" type="number" placeholder="x" [(ngModel)]="origin.x" (ngModelChange)="positionSelect.value = startingPositions[0]; draw()">
      </mat-form-field>

      <mat-form-field class="txt-in">
        <input matInput #oy="ngModel" type="number" placeholder="y" [(ngModel)]="origin.y" (ngModelChange)="positionSelect.value = startingPositions[0]; draw()">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Preset Location</mat-label>
        <mat-select #positionSelect (selectionChange)="startPositionChange($event.value.x, $event.value.y)">
          <mat-option *ngFor="let position of startingPositions" [value]="position">
            {{position.name != null ? position.name : 'None'}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
    <div class="d-flex flex-column justify-content-between mat-elevation-z3">
      <mat-paginator class="pt-4" [pageSizeOptions]="[2,4,6,8,10,12]" pageSize="8" showFirstLastButtons></mat-paginator>
      <table mat-table cdkDropList #table="cdkDropList" [dataSource]="dataSource" [cdkDropListData]="points" (cdkDropListDropped)="dropTable($event)">
        <ng-container matColumnDef="x">
          <th mat-header-cell *matHeaderCellDef>X</th>
          <td mat-cell *matCellDef="let point">
            <mat-form-field class="txt-in">
              <input matInput #x="ngModel" [(ngModel)]="point.x" (ngModelChange)="draw()" type="number">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="y">
          <th mat-header-cell *matHeaderCellDef>Y</th>
          <td mat-cell *matCellDef="let point">
            <mat-form-field class="txt-in">
              <input matInput #y="ngModel" [(ngModel)]="point.y" (ngModelChange)="draw()" type="number">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="radius">
          <th mat-header-cell *matHeaderCellDef>Radius</th>
          <td mat-cell *matCellDef="let point">
            <mat-form-field class="txt-in" [style.width.px]="60">
              <input matInput #heading="ngModel" [(ngModel)]="point.radius" (ngModelChange)="draw()" type="number">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="speed">
          <th mat-header-cell *matHeaderCellDef>Speed</th>
          <td mat-cell *matCellDef="let point">
            <mat-form-field class="txt-in">
              <input matInput #speed="ngModel" [(ngModel)]="point.speed" type="number">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let point; let i = index">
            <button mat-icon-button (click)="deleteRow(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row cdkDrag [attr.index]='i' (mouseenter)="handleRowSelect(i)" (mouseleave)="handleRowLeave()" (keypress)="handleRowInput($event.key, i)"
            *matRowDef="let row; columns: displayedColumns; let point; let i = index; let even = even;" >
          <mat-card *cdkDragPreview>
            ({{point.x != null ? point.x : '?'}}, {{point.y != null ? point.y : '?'}})
          </mat-card>
        </tr>
      </table>
    </div>
  </div>
  <div class="px-3">
    <mat-card class="mat-elevation-z3">
      <div class="d-flex flex-column">
        <mat-form-field>
          <input matInput autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="File Name" [(ngModel)]="fileName">
        </mat-form-field>
        <div class="d-flex">
          <button mat-icon-button (click)="fileInput.click()">
            <mat-icon>folder_open</mat-icon>
          </button>
          <button mat-icon-button (click)="onSaveClick()">
            <mat-icon>save</mat-icon>
          </button>
          <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
          <!-- <a href="" hidden download #fileOutput id="fileOutput"></a> -->
        </div>
      </div>
    </mat-card>
    <mat-card class="mat-elevation-z3 mt-2">
      <div class="d-flex flex-column">
        <mat-checkbox [(ngModel)]="showRobotFrames" (change)="draw()">Show Robot Frames</mat-checkbox>
        <mat-checkbox [(ngModel)]="showPath" (change)="draw()">Show Approx. Path</mat-checkbox>
        <button mat-raised-button (click)="flipPath()">Flip Path</button>
      </div>
    </mat-card>
    <mat-expansion-panel class="mt-2">
      <mat-expansion-panel-header>
        Advanced Settings
      </mat-expansion-panel-header>

      <div class="d-flex flex-column">
        <mat-form-field>
          <input matInput type="number" placeholder="Field Scale" [(ngModel)]="scale" (ngModelChange)="updateScale(); ctx.fillStyle = '#f8ff3e'">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Robot Width (m)" [(ngModel)]="robotWidth" (ngModelChange)="draw()">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" placeholder="Robot Length (m)" [(ngModel)]="robotLength" (ngModelChange)="draw()">
        </mat-form-field>
      </div>
    </mat-expansion-panel>
    <mat-card class="mt-2" [style.color]="'#999999'">
      By Nolan<br>
      FRC Team #33<br>
      Killer Bees
    </mat-card>
  </div>
</div>
